<div class="item-listing">
  <figure>
    <img class="item-listing__image" src="{{imageUrl}}" alt=" " />
    <figcaption>{{{imageDescription}}}</figcaption>
  </figure>
  <h2 class="item-listing__title">{{{title}}}</h2>
  <div class="item-listing__description">
    {{{description}}}
  </div>
  {{> button/button buttonText=linkText }}
</div>
