{{> header}}
<h1 class="page-title">Demo for using handlebars clientside and serverside in unison</h1>
<article class="search-results">
	{{> filters/filters }}
	<div data-item-list>
		{{> item-listing/item-list }}
	</div>
</article>
{{> footer JS=true  }}
