body {
  background-color: #eee;
  font-size: 16px;
  font-family: arial;
}

button, figure {
  font-size: 16px;
  font-family: arial;
}

.page-title {
  text-align: center;
}
.search-results {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e5e5e5;
}

.item-listing {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
@media screen and (min-width:460px){
  .item-listing {
    display: flex;
    align-items: flex-start;
  }
}

.item-listing__title {
    font-size: 20px;
    font-family: Georgia, serif;
    margin: 0 0 20px;
}

.item-listing__description {
  color: #4B5263;

}
@media screen and (min-width:460px){
  .item-listing__description {
    flex: 1;
  }
}

.item-listing__description p {
  margin: 10px 0;
}
.item-listing__description li {
  margin: 10px 0;
  list-style: none;
}


@media screen and (min-width:460px){
  .item-listing__figure {
    width: 30%;
  }
}
.item-listing__image {
  width: 100%;
  display: block;
}

.btn {
  background-color: #398DC8;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  background-color: #272B33;
}

.filters {
  background-color: #313D4D;
  color: #AAB3C0;
  border: 0;
  padding: 20px;
}
.filters__legend {
  display: none;
}
.filters__title {
  color: #AAB3C0;
  font-size: 20px;
  margin: 0 0 20px;
}
.filters__radio {
  position: absolute;
  left: -9999em;
  top: -9999em;
}

.filters__btn {
  background-color: #3E4B5C;
  padding: 20px;
  cursor: pointer;
  display: block;
}
.filters__btn span {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.filters__btn svg {
  width: 100%;
}
.filters__radio:hover + .filters__btn,
.filters__radio:checked + .filters__btn {
  background-color: #232D3A;
  color: #398DC8;
}
.filters__radio:hover + .filters__btn .icon__filter svg,
.filters__radio:checked + .filters__btn .icon__filter svg {
  fill: #AAB3C0;
}

.js .filters__col--no-js {
  display: none;
}

.filters__container {
  display: block;
}

@media screen and (min-width:460px){
  .filters__container {
    display: flex;
  }
}
@media screen and (min-width:460px){
  .filters__col {
    margin-left: 20px;
    flex: 1;
  }
}
.filters__col:first-child {
  margin-left: 0;
}
