		</div> <!-- page wrapper -->
		{{#if JS}}
			<script src="js/handlebars.runtime-v4.0.5.js"></script>
			<script src="templates/templates.js"></script>
			<script src="js/main.js"></script>
		{{/if}}
	</body>
</html>
