		</div> <!-- page wrapper -->
		<script src="_client/scripts/vendor.js"></script>
		<script src="_client/templates/templates.js"></script>
		<script src="_client/scripts/main.js"></script>
	</body>
</html>
