<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Isomorphic Handlebars Demo</title>
		<meta name="description" content="" />
		<meta name="author" content="">
		<link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/main.css" type="text/css" />

	</head>
	<body>
		<div class="page-wrapper">
